body{
    padding-top: 250px;
    background-color: #ECEFF1;
}

.navbar-brand {
    background: url(../media/logo.png) no-repeat;
    width: 100px;
    height: 100px;
    background-size: contain;
    margin: 10px;   
}    
.row{
    justify-content: center;
}

#frontimg, #frontimg2{
    background-color: #E0E0E0;
    border: 0px;
    border-radius: 10px;
    height:300px;
    width:100%;
    padding: 8px;
    box-shadow: 0 0  0px grey;
    transition: all 400ms ease-out;
}
#frontimg:hover, #frontimg2:hover{
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 30px grey;
    transform: scale(1.1);
}
nav{
    background-color: #173753;
}
#btn1,#btn2{
    
    background-color: #6DAEDB;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(24, 24, 24);
    transition: all 500ms ease-out;
}
#btn1,#btn2{
    transition: all 500ms ease-out;
    
}
#btn1:hover,#btn2:hover{
    transform: scale(1.2);
    box-shadow: 0 0 20px rgb(24, 24, 24);
}
#vada{
    background-color: red;
}